* {
	font-family: 'Titillium Web';
}

body {
	background: url('christmas-bg.png');
}

#container {
	border-radius: 25px;
	border: 2px solid white;
	padding: 20px;
	padding-top: 0;
	max-width: 1000px;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

h1 {
	border-radius: 25px 25px 0px 0px;
	border: 2px solid #a0181c;
	text-align: center;
	color: white;
	background-color: #a0181c;
	padding: 20px;
	padding-top: 20px;
	font-family: Merriweather;
}

h1 img {
	display: none;
}

h2, h3 {
	font-family: Merriweather;
}

h2 {
	font-size: 20px;
}

#subtitle {
	padding: 10px;
	text-align: center;
	border: solid 2px #a0181c;
	background: linear-gradient(to right, white, #a0181c, white);
}

#teksti {
	border: dashed 2px #a0181c;
	padding: 10px;
}

#ajankoht {
	padding: 10px;
	border: dashed 2px #a0181c;
}

#ajankoht img {
	float: left;
	padding-right: 10px;
}

#sanottua {
	padding: 10px;
	border: dashed 2px #a0181c;
}

hr {
	border: 0;
	border-bottom: 2px dashed #a0181c;
}

footer {
	padding: 10px;
	background-color: #a0181c;
	border-radius: 0px 0px 25px 25px;
	border: 2px solid #a0181c;
}

footer b {
	float: left;
}

#linkki {
	background-color: #335a16;
	font-size: 30px;
	text-align: center;
	font-family: Merriweather;
	margin-bottom:7px;
}

#linkki a {
	color: #a0181c;
	text-decoration: none;
}

#foottext {
	padding-left: 50px;
}

footer img {
	width: 60px;
	display: inline;
}

#footerimg {
	margin-left: 12%;
	margin-right: 12%;	
}

#candycanes {
	display: none;
}

@media only screen and (min-width: 600px) {

#teksti {
	border: none;
}

#tekstit {
	height: 1630px;
}

#tekstit1 {
	width: 49%;
	float: left;
}

#tekstit2 {
	width: 49%;
	float: left;
}

#candycanes {
	display: inline;
}

#candycanes img {
	border: solid 2px black;
	max-width: 32%;
	height: auto;
	width: auto;
}

footer {
	height: 250px;
}

#footerimg {
	margin-left: 0;
	margin-right: 0;	
}

#info {
	float: left;
	width: 50%;
}

#linkit {
	width: 50%;
	float: right;
}

#ajankoht {
	float: left;
	width: 96%;
	margin-bottom: 5px;
	padding: 10px;
	border: dashed 2px #a0181c;
}

#ajankoht img {
	float: left;
	padding-right: 10px;
}

#sanottua {
	float: left;
	padding: 10px;
	border: dashed 2px #a0181c;
}

}

@media only screen and (min-width: 700px) {

#teksti {
	border: none;
}

#tekstit {
	height: 1520px;
}

#tekstit1 {
	width: 49%;
	float: left;
}

#tekstit2 {
	width: 49%;
	float: right;
}

#candycanes {
	display: inline;
}

#candycanes img {
	border: solid 2px black;
	max-width: 32%;
	height: auto;
	width: auto;
}

footer {
	height: 250px;
}

#footerimg {
	margin-left: 0;
	margin-right: 0;	
}

#info {
	float: left;
	width: 50%;
}

#linkit {
	width: 50%;
	float: right;
}

#ajankoht {
	padding: 10px;
	border: dashed 2px #a0181c;
	float: left;
	width: 42%;
	margin-right: 45px;
}

#sanottua {
	padding: 10px;
	border: dashed 2px #a0181c;
	float: left;
	width: 42%;
}

}

@media only screen and (min-width: 800px) {
	
h1 img {
	display: inline;
	width: 50px;
}

#tekstit {
	height: 1350px;
	width: 100%;
}

#tekstit1 {
	width: 32%;
	float: left;
}

#tekstit2 {
	width: 32%;
	float: left;
	margin-right: 12px;
}

#ajankoht {
	border: dashed 2px #a0181c;
	float: left;
	width: 30%;
	margin-right: 0px;
	margin-bottom: 10px;
}

#sanottua {
	padding: 10px;
	border: dashed 2px #a0181c;
	float: left;
	width: 30%;
}

#candycanes img {
	border: solid 2px black;
	max-width: 32%;
	height: auto;
	width: auto;
}

#info {
	width: 40%;
	float: left;
}

#linkit {
	width: 28%;
	float: left;
}

#footerimg {
	width: 32%;
	float: left;
	margin-right: 0;
	margin-left: 0;
}

footer img {
	display: block;
	margin: 0 auto;
	padding: 5px;
	width: 20%;
	height: 20%;
	float: left;
}

#ajankoht {
	border-bottom: none;
}

#sanottua {
	border-top: none;
}
	
}