#sailio {
	border: solid black 1px;
	max-width: 1000px;
}

.kuva {
	display: none;
}

div.valittu {
	display: block;
}

.kuva img {
	float: left;
	width: 50%;
}

.kuvaus {
	float: right;
	width: 50%;
	padding-top: 25px;
}

#valilehdet {
	border-top: solid 1px black;
	background-color: lightgray;
	clear: both;
}

#valilehdet::after {
	content: "";
	clear: both;
	display: block;
}

span.valittu {
	background-color: gray;
}

#tab1, #tab2, #tab3, #tab4 {
	float: left;
	border-right: solid 1px black;
	padding: 5px;
	display: inline-block;
}

