* {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#topnav2 {
	display: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

#topnav2 a {
	text-decoration: none;
	color: black;
	padding: 5px;
	margin-right: -6px;
}

#topnav {
	width: 100%;
	font-size: 20px;
	border: solid 2px #852425;
	background: linear-gradient(to right, #b999a1, #fff7e6);
	display: block;
}

#topnav a {
	text-decoration: none;
	color: #852425;
	padding: 2px;
}

#otsikko-big {
	border-radius: 15px;
	border: 1px solid #852425;
	background: linear-gradient(to right, #b999a1, #fff7e6);
	color: #852425;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}

#otsikko-small {
	display: none;
	border-radius: 15px;
	border: 1px solid #852425;
	background: linear-gradient(to right, #b999a1, #fff7e6);
	color: #852425;
	text-align: center;
}

#otsikko2 {
	display: none;
	text-align: center;
}

hr {
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
}

#content {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#container {
	border: 2px solid black;
	margin-bottom: 0;
	padding-bottom: 0;
}

#alkuteksti {
	border: solid 2px black;
	background-color: #fff7e6;
	display: none;
}

#alkuteksti h2,h3 {
	text-align: center;
}

#laatikko {
	background-color: #fff7e6;
	border: 2px solid #b999a1;
	display: none;
	padding: 0;
	margin-bottom: 10px;
}

#laatikko h3,p {
	padding: 3px;
}

#laatikko h3 {
	text-align: left;
}

#laatikkofooter {
	background-color: #b999a1;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: right;
}

#laatikkofooter a {
	padding-right: 5px;
	color: white;
	text-decoration: none;
}

#links {
	background-color: #fff7e6;
	padding: 5px;
	border: 1px solid #b999a1;
	margin-bottom: 0;
}

#links p {
	background-color: #b999a1;
	padding: 7px;
}

#links p::after {
	content: ">";
	float: right;
}

#links a {
	text-decoration: none;
	color: black;
}

footer {
	text-align: center;
	color: white;
	background-color: black;
	margin-top: 0;
}

@media only screen and (min-width: 600px) {

#topnav {
	display: none;
	width: 100%;
}

#topnav2 {
	display: block;
	padding: 0;
	margin: 5px 0px;
}

#topnav2-a{
	float: left;
	width: 19%;
	text-align: center;
	border: solid 2px black;
	padding: 0.55%;
	margin-right: -6px;
	background-color: #b999a1;
}

#otsikko-big {
	display: none;
}

#otsikko2 {
	display: block;
}

#alkuteksti {
	display: block;
}

#laatikko {
	display: block;
}

#container {
	border: 0px;
}

#container2 {
	width: 70%;
	float: right;
}

#links {
	float: left;
	width: 27%;
	border-radius: 15px;
	border: 1px solid #b999a1;
	margin-bottom: 0;
}

footer {
	height: 40px;
	width: 100%;
	float: left;
}

}

@media only screen and (min-width: 900px) {

#topnav2 {
	margin-left: 30%;
}

#topnav2-a{
	float: left;
	width: 12%;
	text-align: center;
	border: solid 2px black;
	padding: 0.55%;
	background-color: #b999a1;
	margin-top: 10px;
	margin-right: 5px;
}

#otsikko-small {
	display: block;
	float: left;
	width: 150px;
	height: 50px;
	font-size: 7px;
	margin: 0;
	padding-bottom: 8px;
}

#alkuteksti {
	margin-top: 40px;
}

}