* {
	margin: 0;
	padding: 0;
}

#container {
	border: solid 3px #00008b;
	max-width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: #add8e6;
	padding: 5px;
}

#ylanav2 {
	display: none;
}

h1 {
	color: #add8e6;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#otsikko {
	background: linear-gradient(#00008b, white);
}

#nav {
	background-color: black;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
}

#nav1 {
	list-style-type: none;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#nav2 {
	padding-left: 17px;
	padding-top: 10px;
}

#nav a {
	color: white;
}

#text {
		background-color: #ffffff;
}

h2 {
	color: #add8e6;
	background-color: #00008b;
	padding: 5px;
}

#links {
	padding: 15px;
	padding-left: 35px;
	background-color: #add8e6;	
}

#links ul {
	list-style-type: circle;
}

footer {
	padding: 20px;
	background-color: black;
	color: white;
	text-align: center;
}

#v {
	font-weight: bold;
}

#val {
	float: right;
	position: relative;
	display: inline;
}

#ylanav1 {
	display: none;
	position: absolute;
	right: 10px;
	background-color: lightblue;
	min-width: 200px;
	box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.5);
	padding: 2px;
	z-index: 1;
	border: solid darkblue 2px;
	list-style-type: none;
}

#val:hover #ylanav1 {
	display: block;
}

@media only screen and (min-width: 500px) {

#nav {
	width: 100%;
	float: left;
	margin: 0 0 15px 0;
	padding: 0;
	list-style: none;
	background-color: black;
}

#nav li {
	float: left; 
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: white;
}

#linkki {
	position: relative;
	display: inline;
}

#nav2 {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 200px;
	box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.5);
	padding: 2px;
	z-index: 1;
	border: solid white 2px;
	list-style-type: none;
}

#linkki:hover #nav2 {
	display: block;
}

#linkcontainer1 {
	width: 29%;
	height: 100%;
	padding: 10px;
	float: left;
}

#linkcontainer2 {
	width: 29%;
	height: 100%;
	padding: 10px;
	float: left;
}

#linkcontainer {
	width: 29%;
	height: 100%;
	padding: 10px;
	float: left;
}

#linkcontainerall {
	width: 100%;
	height: 175px;
	background-color: #add8e6;
}

#leenk {
	position: relative;
	bottom: 10px;
}

#text {
	width:95%;
	height: 100%;
	padding: 10px;
}

#teksti {
	width: 100%;
}

#teksti2 {
	width: 100%;
}

}

@media only screen and (min-width: 650px) {

#text {
	background-color: #ffffff;
	width: 96%;
	height: 300px;
}

#teksti {
	border-bottom: none;
	padding: 0.5%;
	width: 46%;
	float: left;
}

#teksti2 {
	padding: 0.5%;
	width: 46%;
	float: left;
}

header {
	height: 18px;
}

#ylanav {
	display: none;
}

#ylanav2 {
	display: block;
	float: right;
}

}

@media only screen and (min-width: 800px) {

#container {
	border: solid 3px #00008b;
	max-width: 1200px;
	min-height:823px;
}

#text {
	background-color: #ffffff;
	float: left;
	width: 62%;
	height: 100%;
	padding-bottom: 20px;
}

#teksti {
	padding: 0.5%;
	width: 47%;
	float: left;
}

#teksti2 {
	padding: 0.5%;
	width: 47%;
	float: left;
}

#linkcontainerall {
	float: left;
	width: 35%;
	height: 90%;
	padding: 0;
}

#linkcontainer1 {
	width: 95%;
	padding: 10px;
	float: left;
}

#linkcontainer2 {
	width: 95%;
	padding: 10px;
	float: left;
}

#linkcontainer {
	width: 95%;
	padding: 10px;
	float: left;
}

footer {
	width: 96.8%;
	float: left;
	background-color: black;
	color: white;
	text-align: center;
}

}